In [35]:
import pandas as pd
import numpy as np

In [58]:
data = pd.read_csv("GDPlist.csv", encoding = "ISO-8859-1")
data.head()

        Country      Continent  GDP (millions of US$)
0   Afghanistan           Asia                  18181
1       Albania         Europe                  12847
2       Algeria         Africa                 190709
3        Angola         Africa                 100948
4     Argentina  South America                 447644

In [3]:
print("Số dòng dữ liệu: ",data.shape[0])
print("Số cột dữ liệu: ",data.shape[1])

Số dòng dữ liệu:  125
Số cột dữ liệu:  3

In [4]:
print("Kiểu dữ liệu của từng thuộc tính")
data.info()

Kiểu dữ liệu của từng thuộc tính
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                125 non-null    object
 1   Continent              125 non-null    object
 2   GDP (millions of US$)  125 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB

In [33]:
# Tính giá trị lớn nhất và nhỏ nhất của GDP.
# Tìm quốc gia có GDP nhỏ nhất và lớn nhất.
data_GDP = data.loc[:,'GDP (millions of US$)']
print('GDP nhỏ nhất:', data_GDP.min())
print('GDP lớn nhất:', data_GDP.max())

GDP nhỏ nhất: 10600  Afghanistan
GDP lớn nhất: 15094025  Zambia

In [12]:
# Hãy cho biết xu hướng phân bố dữ liệu của GDP.
print('Giá trị GDP xuất hiện nhiều nhất :', data_GDP.mode())
print('Giá trị GDP trung vị :', data_GDP.median())
print('Giá trị GDP trung bình :', data_GDP.mean())
data.describe()

Giá trị GDP xuất hiện nhiều nhất : 0         10600
1         11313
2         12461
3         12655
4         12827
         ...
120     2776324
121     3577031
122     5869471
123     7298147
124    15094025
Name: GDP (millions of US$), Length: 125, dtype: int64
Giá trị GDP trung vị : 96089.0
Giá trị GDP trung bình : 555427.784

       GDP (millions of US$)
count           1.250000e+02
mean            5.554278e+05
std             1.649266e+06
min             1.060000e+04
25%             2.574200e+04
50%             9.608900e+04
75%             3.332380e+05
max             1.509402e+07

In [30]:
# Hãy cho biết châu lục nào xuất hiện nhiều nhất?
data_Continent = data.loc[:,'Continent']
print('Châu lục xuất hiện ít nhất:', data_Continent.min())
print('Châu lục xuất hiện nhiều nhất:', data_Continent.max())

Châu lục xuất hiện ít nhất: Africa
Châu lục xuất hiện nhiều nhất: South America

Với mỗi châu lục hãy tính tổng GDP; trung bình cộng GDP. Hợp nhất 2 bảng này thành một bảng duy nhất gồm 3 thông tin: Tên châu lục; Tổng GDP; TBC GDP.

In [59]:
data.insert(loc = 2, column='Average GDP',value=data.loc[:,'GDP (millions of US$)'])
data.head()

        Country      Continent  Average GDP  GDP (millions of US$)
0   Afghanistan           Asia        18181                  18181
1       Albania         Europe        12847                  12847
2       Algeria         Africa       190709                 190709
3        Angola         Africa       100948                 100948
4     Argentina  South America       447644                 447644

In [60]:
data.pivot_table(values=['Average GDP','GDP (millions of US$)'], index='Continent', aggfunc ={'Average GDP': np.mean,'GDP (millions of US$)': np.sum})

                Average GDP  GDP (millions of US$)
Continent
Africa         6.278659e+04                1820811
Asia           6.784970e+05               24425891
Europe         5.172805e+05               19139380
North America  1.658041e+06               18238447
Oceania        5.542423e+05                1662727
South America  4.601352e+05                4141217